<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Staging\Model\Event\Manager">
        <plugin name="jclecas_eventlog_event_manager" type="Jclecas\EventLog\Plugin\Framework\Event\ManagerPlugin" sortOrder="1"/>
    </type>
</config>
